html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  background: var(--clr-white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}
